<div class="container">
  <h2 class="text-center mt-5">Ciudades</h2>
  <div class="row">
    <div class="row">
      <div class="col-sm-4 mt-5" *ngFor="let item of ciudades">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">{{item.nombreCiudad}} ({{item.codigoCiudad}})</h5>
            <p class="card-text">Latitud: {{item.latitud}} Longitud: {{item.longitud}}.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
